@model IEnumerable<RepPortal.Models.Store>

@{
    ViewData["Title"] = "Stores In Your Territory";
}

<h2>Stores In Your Territory</h2>

@if (User.IsInRole("Administrator"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

    <form asp-action="Index" method="get">
        <div class="form-actions no-color">
            <p>
                Search by Name or Status: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
                <input type="submit" value="Search" class="btn btn-default" /> |
                <a asp-action="Index">Back to Full List</a>
            </p>
        </div>
    </form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["StatusSortParm"]">@Html.DisplayNameFor(model => model.Status)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">@Html.DisplayNameFor(model => model.Name)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StreetAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WebsiteURL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactName)
            </th>
            @if (User.IsInRole("Administrator"))
            {
                <th>
                    @Html.DisplayNameFor(model => model.SalesRep)
                </th>
            }
            @if (@Html.DisplayNameFor(model => model.Status) == "Closed")
            {
                <th>
                    @Html.DisplayNameFor(model => model.DateClosed)
                </th>
            }
            <th>
                @Html.DisplayNameFor(model => model.LastOrderTotal)
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["OrderDateSortParm"]">@Html.DisplayNameFor(model => model.LastOrderDate)</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Status.Name)

                    <img src='@string.Format("/images/map-icons/Shopping_Bag_{0}.svg", item.StatusId)' />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <div>@Html.DisplayFor(modelItem => item.StreetAddress)</div>
                   
                    <div>
                        @Html.DisplayFor(modelItem => item.City) 
                        @Html.DisplayFor(modelItem => item.State.Name) 
                        @Html.DisplayFor(modelItem => item.Zipcode)
                    </div>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    <a href="@Html.DisplayFor(modelItem => item.WebsiteURL)" target="_blank">@Html.DisplayFor(modelItem => item.WebsiteURL)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactName)
                </td>
                @if (User.IsInRole("Administrator"))
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.SalesRep.FirstName) @Html.DisplayFor(modelItem => item.SalesRep.LastName)
                    </td>
                }
                @if (@Html.DisplayNameFor(model => model.Status) == "Closed")
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.DateClosed)
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.LastOrderTotal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastOrderDate)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.LastOrderShipDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastOrderPaidDate)
                </td>*@
                <td>
                    <a asp-action="Edit" asp-route-id="@item.StoreId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.StoreId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.StoreId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
