@model RepPortal.Models.NotesViewModels.CreateNoteViewModel


<h4>Notes:</h4>

<div id="notes" class="notes rounded white-background">
    @foreach (Note n in Model.UserNotes)
    {
        <div class="note" id=@n.NoteId>
            <div class="note__author-Date">
                <span class="note__author">@n.User.FirstName @n.User.LastName</span>
                <span class="note__date">@n.DateCreated</span>
                @if (Model.CurrentUser.Id == n.User.Id)
                {
                <span class="pull-right">
                    <span class="note__edit"><a asp-controller="Notes" asp-action="Edit" asp-route-id="@n.NoteId">Edit</a></span><text> | </text>
                    <span class="note__delete"><a asp-controller="Notes" asp-action="Delete" asp-route-id="@n.NoteId">Delete</a></span>
                </span>
                }
            </div>
            @if (User.IsInRole("Administrator"))
            {
            <div class="note__recepient"><span class="bold">To:</span> @n.ToUser.FirstName  @n.ToUser.LastName</div>
            }
            <div class="note__content"><span>@n.Content</span></div>
            <hr />
        </div>
    }
</div>


<form asp-controller="notes" asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <h4>Add a Note</h4>
    @if (User.IsInRole("Administrator"))
    {
        <div class="form-group">
            @Html.DropDownListFor(model => model.ToUserId,
                                      ViewBag.Users as IEnumerable<SelectListItem>, "Select Recipient", new { @class = "form-control" })
        </div>
    }
    <div class="form-group">
        
        <textarea asp-for="@Model.Note.Content" rows="5" class="form-control" placeholder="Enter content here... "></textarea>
        <span asp-validation-for="@Model.Note.Content" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Save Note" class="btn btn-default" />
    </div>
</form>

