@model RepPortal.Models.NotesViewModels.CreateNoteViewModel


<div id="notes" class="dashboard-notes rounded-border">
    @foreach (Note n in Model.UserNotes)
    {
        <div class="note" id=@n.NoteId>
            <div class="note__author-Date">
                <span class="note__author">@n.User.FirstName @n.User.LastName</span>
                <span class="note__date">@n.DateCreated</span>
            </div>
            <div class="note__content"><span>@n.Content</span></div>
            <hr />
        </div>
    }
</div>


<form asp-controller="notes" asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @if (User.IsInRole("Administrator"))
    {
        <div class="form-group">
            <label>To</label>
            @Html.DropDownListFor(model => model.ToUserId,
                                      ViewBag.Users as IEnumerable<SelectListItem>, "Select Recipient", new { @class = "form-control" })
        </div>
    }
    <div class="form-group">
        <label asp-for="@Model.Note.Content" class="control-label"></label>
        <textarea asp-for="@Model.Note.Content" rows="5" class="form-control"></textarea>
        <span asp-validation-for="@Model.Note.Content" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Add Note" class="btn btn-default" />
    </div>
</form>

